html, body {
    margin: 0;
    height: 100%;
}

textarea {
   resize: none;
}

.container-fluid{
	height : 90%;
	padding-top: 10px;
}

.row{
	height : 100%;
}

.people{
    float: left;
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: block;
}

.people h1{
    margin: 0;
    padding: 2px 2px;
    font-size: 1em;
    background-color: gray;
    color: white;
}

.male h1{
    background-color: dodgerblue;
}

.female h1{
    background-color: hotpink;
}

.spriteTombstone h1{
    background-color: gray;
}

.people .imgContainer{
    display: block;
    float: left;
    width: 34px;
    height: 55px;
    background: url("../images/sprites.png");
    margin-top: 3px;
}

.cannotReproduce{
    transition:opacity 0s;
    opacity:0.6;
    pointer-events: none;
}

.people .imgContainer .captchaCount{
    background-color: yellow;
    width: 1.7em;
    height: 1.7em;
    font-size: 0.6em;
    border-radius: 0.7em;
    border: 2px solid darkorange;
    text-align: center;
    font-weight: bold;
    -webkit-transition:width 0.3s,height 0.3s,font-size 0.3s;
    transition: width 0.3s,height 0.3s,font-size 0.3s;
}


.people .imgContainer .reproducing {
    position: absolute;
    width: 30px;
    height: 50px;
    background: url("../images/heart.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
}


.roomPeople .reproducing{
    background: url("../images/heart.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index:999;
    margin: auto;
    width: 30%;
    height: 30%;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    -webkit-transition:width 5s, height 5s;
    transition: width 5s, height 5s;
}

.roomPeople .reproducing.heartAnimation {
    width: 100%;
    height: 100%;
}

.people .imgContainer .newCaptchas{
    font-size: 0.8em;
}

.people .overview{
    display: block;
    float: left;
    border: 1px solid gray;
    min-width: 150px;
    font-size: .8em;
    margin-left: 5px;
    min-height: 50px;
}

.male .overview{
    border-color: dodgerblue;
}

.female .overview{
    border-color: hotpink;
}

.percBarContainer{
    width: 100px;
    height: 10px;
    border: none;
    padding: 0;
    float: left;
    margin: 7px 5px 0 5px;
    clear: right;
}

.percBarContainer div{
    width: 100%;
    height: 10px;
    background-color: gray;
    font-size: .6em;
    color: white;
    text-align: center;

    -webkit-transition:left .5s ease 0s, width .5s linear 0s;
    transition:left .5s ease 0s, width .5s linear 0s;
}

.percBarContainer.good {
    background-color: lightgreen;
}

.percBarContainer.oke{
    background-color: #ffdbbb;
}

.percBarContainer.danger {
    background-color: lightcoral;
}

.percBarContainer.good div{
    background-color: forestgreen;
}

.percBarContainer.oke div{
    background-color: orange;
}

.percBarContainer.danger div{
    background-color: red;
}

p.percLabel{
    float: left;
    clear:left;
    width: 65px;
    margin: 2px 2px 0 2px;
}

.settingScreen{
	min-width : 300px;
	//width : 80%;
	height : 100%;
	border-width : 1px 1px;
	border-color : gray;
	border-style : solid;
}

.tab-content{
	padding-left: 15px;
}

.shopButton,
.actionButton{
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    background-position-x: center;
    background-repeat: no-repeat;
    display: block;
}

#actionDogfood{
    background-image: url("../images/dogfood.jpg");

}

#actionSleeping{
    background: url("../images/sleep.png");
}



#actionKill{
    background-color: red;
}

#actionTest{
    background-color: green;
}



.eatHamburgerCur {
    cursor: url('../images/hamburger.png'), auto;
}

.eatDogfoodCur {
    cursor: url('../images/dogfood.jpg'), auto;
}

.sleepCur{
    cursor: url('../images/sleep.png'), auto;
}

.reproduceCur{
    cursor: url('../images/heart.png'), auto;
}

footer {
    color: #000;
    text-align: right;
    padding: 10px 30px;
}

.rainbow {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 1s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 1s infinite;
  
  /* Standard Syntax */
  animation: rainbow 1s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}

/* Standar Syntax */
@keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}

.room {
    position: relative;
}

.roomRow {
    display: block;
    float: left;
    clear: right;
    width: 100%;
    margin: 0;
    padding: 0;
}

.roomTile {
    background: url("../images/roomBackground.png");
    background-repeat: no-repeat;
    background-position: -128px -512px;
    width: 64px;
    height: 64px;
    display: block;
    float: left;
    clear: right;
    position: relative;
}

.roomComputer {
    background: url("../images/backgroundSprites.png");
    background-position: -526px -1288px;
    background-repeat: no-repeat;
    width: 32px;
    height: 64px;
    margin: auto;
}

.roomPeople{
    position: absolute;
    width: 64px;
    height: 64px;

    transition:left 1s linear, top 1s linear;
    -webkit-transition: left 1s linear, top 1s linear;
}

.position-x-0 {
    left: 0px;
}

.position-x-1 {
    left: 64px;
}

.position-x-2 {
    left: 128px;
}

.position-x-3 {
    left: 192px;
}

.position-x-4 {
    left: 256px;
}

.position-x-5 {
    left: 320px;
}

.position-x-6 {
    left: 384px;
}

.position-x-7 {
    left: 448px;
}

.position-y-0 {
    top: 0px;
}

.position-y-1 {
    top: 64px;
}

.position-y-2 {
    top: 128px;
}

.position-y-3 {
    top: 192px;
}

.position-y-4 {
    top: 256px;
}

.position-y-5 {
    top: 320px;
}

.position-y-6 {
    top: 384px;
}

.position-y-7 {
    top: 448px;
}

.roomPeople .imgContainer {
    width: 30px;
    height: 50px;
    background: url("../images/sprites.png");
    /* top right bottom left */
    margin: 7px 17px 7px 17px;
    position: absolute;
}

.roomPeople .newCaptchaCount {
    background-color: yellow;
    width: 1.7em;
    height: 1.7em;
    position: absolute;
    left: 0.7em;
    top: 0.7em;
    border-radius: 0.7em;
    text-align: center;
    border: 2px solid darkorange;
    font-size: 0.6em;
    font-weight: bold;
    line-height: 1.15em;
}

.roomPeople .thoughtBubble {
    background: url("../images/thoughtBubble.png");
    background-repeat: no-repeat;
    background-size: 128px 64px;
    display: inline-block;
    position: absolute;
    left: 34px;
    top: -50px;
    width: 128px;
    height: 74px;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 20px;
    font-size: 0.8em;
    filter: opacity(0.75);
    -webkit-filter: opacity(0.75);
    z-index: 10;
}

.roomPeople .imgContainer .newCaptchas{
    font-size: 0.8em;
}

.spriteTombstone .overview{
    border-color: grey;
}

.sprite0 .imgContainer{
    background-position-x: -7px;
}

.sprite1 .imgContainer{
    background-position-x: -38px;
}

.sprite2 .imgContainer{
    background-position-x: -74px;
}

.sprite3 .imgContainer{
    background-position-x: -108px;
}

.sprite4 .imgContainer{
    background-position-x: -144px;
}

.sprite5 .imgContainer{
    background-position-x: -180px;
}

.sprite6 .imgContainer{
    background-position-x: -216px;
}

.sprite7 .imgContainer{
    background-position-x: -252px;
}

.sprite8 .imgContainer{
    background-position-x: -288px;
}

.sprite9 .imgContainer{
    background-position-x: -324px;
}

.spriteAdult .imgContainer {
    background-position-y: -5px;
}

.spriteChild .imgContainer{
    background-position-y: -56px;
    background-repeat: no-repeat;
}

.spriteTombstone .imgContainer{
    background: url("../images/tombstone.png");
    background-position: 0 10px;
    background-repeat: no-repeat;
    opacity:0;
    transition: opacity 4s;
    -webkit-transition:opacity 4s;
}

.sprite0.imgContainer{
    background-position-x: -7px;
}

.sprite1.imgContainer{
    background-position-x: -38px;
}

.sprite2.imgContainer{
    background-position-x: -74px;
}

.sprite3.imgContainer{
    background-position-x: -108px;
}

.sprite4.imgContainer{
    background-position-x: -144px;
}

.sprite5.imgContainer{
    background-position-x: -180px;
}

.sprite6.imgContainer{
    background-position-x: -216px;
}

.sprite7.imgContainer{
    background-position-x: -252px;
}

.sprite8.imgContainer{
    background-position-x: -288px;
}

.sprite9.imgContainer{
    background-position-x: -324px;
}

.spriteAdult.imgContainer {
    background-position-y: -5px;
}

.spriteChild.imgContainer{
    background-position-y: -56px;
    background-repeat: no-repeat;
}

.spriteTombstone.imgContainer{
    background: url("../images/tombstone.png");
    background-position: 0 10px;
    background-repeat: no-repeat;
    opacity:0;
    transition: opacity 4s;
    -webkit-transition:opacity 4s;
}

.shopRow {
    clear: both;
    margin-top: 10px;
    height: 32px;
}

.shopRow p{
    margin-top: 10px;
    float: left;
    display: block;
}
