html, body {
    margin: 0;
    height: 100%;
}

.container-fluid{
	height : 90%;
	padding-top: 10px;
}

.row{
	height : 100%;
}

.people{
    float: left;
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: block;
    -webkit-transition:opacity 4s;
    transition:opacity 4s;
}

.spriteTombstone{
    opacity:0;
}

.people h1{
    margin: 0;
    padding: 2px 2px;
    font-size: 1em;
    background-color: gray;
    color: white;
}

.male h1{
    background-color: dodgerblue;
}

.female h1{
    background-color: hotpink;
}

.spriteTombstone h1{
    background-color: gray;
}

.people .imgContainer{
    display: block;
    float: left;
    width: 34px;
    height: 55px;
    background: url("../images/sprites.png");
    margin-top: 3px;
}

.people .imgContainer .captchaCount{
    background-color: yellow;
    width: 1.7em;
    height: 1.7em;
    font-size: 0.6em;
    border-radius: 0.7em;
    border: 2px solid darkorange;
    text-align: center;
    font-weight: bold;
    -webkit-transition:width 0.3s,height 0.3s,font-size 0.3s;
    transition: width 0.3s,height 0.3s,font-size 0.3s;
}

.people .imgContainer .newCaptchas{
    font-size: 0.8em;
}

.people .overview{
    display: block;
    float: left;
    border: 1px solid gray;
    min-width: 150px;
    font-size: .8em;
    margin-left: 5px;
    min-height: 50px;
}

.male .overview{
    border-color: dodgerblue;
}

.female .overview{
    border-color: hotpink;
}

.percBarContainer{
    width: 100px;
    height: 10px;
    border: none;
    padding: 0;
    float: left;
    margin: 7px 5px 0 5px;
    clear: right;
}

.percBarContainer div{
    width: 100%;
    height: 10px;
    background-color: gray;
    font-size: .6em;
    color: white;
    text-align: center;

    -webkit-transition:left .5s ease 0s, width .5s linear 0s;
    transition:left .5s ease 0s, width .5s linear 0s;
}

.percBarContainer.good {
    background-color: lightgreen;
}

.percBarContainer.oke{
    background-color: #ffdbbb;
}

.percBarContainer.danger {
    background-color: lightcoral;
}

.percBarContainer.good div{
    background-color: forestgreen;
}

.percBarContainer.oke div{
    background-color: orange;
}

.percBarContainer.danger div{
    background-color: red;
}

p.percLabel{
    float: left;
    clear:left;
    width: 65px;
    margin: 2px 2px 0 2px;
}

.settingScreen{
	min-width : 300px;
	//width : 80%;
	height : 100%;
	border-width : 1px 1px;
	border-color : gray;
	border-style : solid;
}

.tab-content{
	padding-left: 15px;
}

.actionButton{
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 10px;
}

#actionEating{
    background: url("../images/hamburger.png");
}

#actionDogfood{
    background: url("../images/dogfood.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
}

#actionSleeping{
    background: url("../images/sleep.png");
}

#actionKill{
    background-color: red;
}

#actionTest{
    background-color: green;
}

#actionNone{
    background: url("../images/pointercursor.png");
}

#actionInfo{
	background-color : yellow;
}

#actionCollect{
    background-color: lightgreen;
}

.eatHamburgerCur {
    cursor: url('../images/hamburger.png'), auto;
}

.eatDogfoodCur {
    cursor: url('../images/dogfood.jpg'), auto;
}

.sleepCur{
    cursor: url('../images/sleep.png'), auto;
}

footer {
    color: #000;
    text-align: right;
    padding: 10px 30px;
}

.rainbow {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 1s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 1s infinite;
  
  /* Standard Syntax */
  animation: rainbow 1s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}

/* Standar Syntax */
@keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}

.roomRow {
    display: block;
    float: left;
    clear: right;
}

.roomTile {
    background: url("../images/roomBackground.png");
    background-repeat: no-repeat;
    background-position: -128px -512px;
    width: 64px;
    height: 64px;
}

.roomComputer {
    background: url("../images/backgroundSprites.png");
    background-position: -526px -1288px;
    background-repeat: no-repeat;
    width: 32px;
    height: 64px;
    margin: auto;
}

.roomPeople{
    -webkit-transition:opacity 4s;
    transition:opacity 4s;
}

.roomPeople .imgContainer {
    width: 34px;
    height: 55px;
    background: url("../images/sprites.png");
    margin: auto;
    padding-top: 5px;
}

.roomPeople .captchaCount{
    background-color: yellow;
    width: 1.7em;
    height: 1.7em;
    font-size: 0.6em;
    border-radius: 0.7em;
    border: 2px solid darkorange;
    text-align: center;
    font-weight: bold;
    -webkit-transition:width 0.3s,height 0.3s,font-size 0.3s;
    transition: width 0.3s,height 0.3s,font-size 0.3s;
}

.roomPeople .imgContainer .newCaptchas{
    font-size: 0.8em;
}

.spriteTombstone .overview{
    border-color: grey;
}

.sprite0 .imgContainer{
    background-position-x: -2px;
}

.sprite1 .imgContainer{
    background-position-x: -38px;
}

.sprite2 .imgContainer{
    background-position-x: -74px;
}

.sprite3 .imgContainer{
    background-position-x: -108px;
}

.sprite4 .imgContainer{
    background-position-x: -144px;
}

.sprite5 .imgContainer{
    background-position-x: -180px;
}

.sprite6 .imgContainer{
    background-position-x: -216px;
}

.sprite7 .imgContainer{
    background-position-x: -252px;
}

.sprite8 .imgContainer{
    background-position-x: -288px;
}

.sprite9 .imgContainer{
    background-position-x: -324px;
}

.spriteAdult .imgContainer {
    background-position-y: -7px;
}

.spriteChild .imgContainer{
    background-position-y: -56px;
    background-repeat: no-repeat;
}

.spriteTombstone .imgContainer{
    background: url("../images/tombstone.png");
    background-position: 0 10px;
    background-repeat: no-repeat;
}