<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<head>
    <style>

        html, body {
            margin: 0;
            height: 100%;
        }
        .hamburger {
            cursor: url('http://dev.maartenschipper.nl/hamburger.png'), auto;
        }
    </style>
</head>
<body>

<script>
    var app = angular.module("myShoppingList", []);
    app.controller("myCtrl", function($scope, $http) {
        var mybody = angular.element(document).find('body');
        $http.get("test.json").then(function (response) {
            var myData = response.data.people;
            for(var i=0; i < myData.length; i++) {
                myData[i].getGender = function(){
                  alert(this.gender);
                }
                myData[i].getID = function(){
                    mybody.addClass('hamburger');
                    alert(this.id + " " + this.gender);
                }
            }
            $scope.myData = myData;
        });

        /*
        $scope.products = ["Milk", "Bread", "Cheese", "1", "2", "3", "4", "5", "6", "7"];
        $scope.addItem = function () {
            $scope.errortext = "";
            if (!$scope.addMe) {return;}
            if ($scope.products.indexOf($scope.addMe) == -1) {
                $scope.products.push($scope.addMe);
            } else {
                $scope.errortext = "The item is already in your shopping list.";
            }
        }
        $scope.removeItem = function (x) {
            $scope.errortext = "";
            $scope.products.splice(x, 1);
        }
        */
    });

</script>

<div ng-app="myShoppingList" ng-controller="myCtrl">

    <div class="container" ng-app="myShoppingList" ng-controller="myCtrl">

        <div class="row">
            <div ng-repeat="x in myData" ng-click="x.getID()" style="height: 100px; width: 100px; border: 1px solid black; float: left;">
                {{x.id + " - " + x.gender}}
            </div>
        </div>
    </div>


</body>
</html>
