<div class="container-fluid">
    <h3>Login HTML to play PeopleFarm</h3><br/>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" ng-model="account.username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="account.password">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="login()">Login</button>
        <br/><br/><p>No account yet? Click <a ng-href="#!/new">here</a> to create an account</p>
    </form>
</div>
<footer>
    <small class="rainbow">&copy; Copyright 2017, PeopleFarm Company</small>
</footer>

